@font-face {
    font-family: 'Palatino';
    src: url('Palatino Font.ttf') format('opentype');
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Palatino', sans-serif;
    margin: 0;
}

.everything_except_footer{
    margin-bottom: -120px;
}

/* LOGO */

.logo-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
    margin: -40px;
}

.title {
    /* position: relative; */
    padding: 10px;
}

.line {
    width: 200px;
    height: 2px;
    border-radius: 25px;
    opacity: .25;
    background-color: rgb(0, 68, 255);
}

/* NAV BAR */

.navbar {
    display: flex;
    justify-content: center;
    background-color: white;
    width: auto;
    box-shadow: 0px 20px 20px 2px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin-bottom: 5px;
    padding: 10px;
    list-style-type: none;
}

.navbar ul a {
    text-decoration: none;
    color: black;
    padding: 5px;
    transition: 0.3s ease;
}

.active a {
    background-color: rgb(184, 184, 184);
    border-radius: 10px;
    text-decoration: underline;
}

.navbar li a:hover,
.navbar li a.active {
    color: rgb(0, 68, 255);
}

/* HERO */

.hero {
    display: grid;
    column-gap: 25px;
    grid-template-columns: minmax(300px, 50%) minmax(300px, 50%);
    height: 60vh;
    margin: 3rem;
}

.grid-1{
    display: flex;
    flex-direction: column;
    color: rgb(175, 175, 175);
}

.hero > div{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.hero > div >img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}

/* BANNER */

.banner{
    height: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}



/* GRID */

section{
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: nowrap;
    height: 50vh;
}

.grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.grid > img:hover{
    filter: blur(5px);
    transform: scale(1.1);
    zoom: 0.5;
    opacity: 0.5;
    transition: 300ms ease-in-out;
}

.grid{
    height: 300px;
    width: 300px;
    margin: 1rem;
    background-color: rgb(192, 214, 255);
    overflow: hidden;
    border-radius: 10px;
}


/* FOOTER */

.footer,.extra_element{
    height: 120px;
}

.footer{
    background-color: gray;
}

.footer-flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style: none;
    text-align: center;
    padding: 10px;
    padding-right: 40px;
}


.col-1 > ul{
    list-style: none;
}

.col-2 > ul{
    list-style: none;
}

.col-3 > ul{
    list-style: none;
    color: black;
}

.col-3 > ul a{
    color: black;
}

.atlas {
    margin: 15px;
}